body{
    text-align: left;
}

.button {
    border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
    background-color: #008CBA;
  }
  .nav {
      margin-top:  10px;
    background-color: rgb(0, 255, 13); 
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
   
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

#segunda{
    margin: 10% auto;

    filter: brightness(71%);
    border-radius: 15px;
    height: 260px;   
    padding-right: 10px;
    margin-right: 5px;
    
}
#exercicio9{
    color: rgb(255, 255, 255);
    font-style: italic;
   

}
#conteiner{
    margin: 0 auto;
    height: 300px;
    width: 50%;
    background-color: #008CBA;
    background-size: 100% 100%;
    border-radius: 8px;
    border: 1px solid green;

    
    

}
