body{
    text-align: left;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 5%;
    margin: 10% auto;
}
#segunda{
    margin: 10% auto;

    filter: brightness(71%);
    border-radius: 15px;
    height: 260px;   
    padding-right: 10px;
    margin-right: 5px;
}
#exercicio9{
    color: wheat;
}
#conteiner{
    margin: 0 auto;
    height: 400px;
    width: 80%;
    background-color: aqua;
    background-size: 100%;
    
    

}
